<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'booking/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'booking/navbar.css' %}">
</head>
<body>
    <header>
        {% if user.is_authenticated %}
        {% include "./inclusions/navbar.html" %}
        {% else %}
        {% include "./inclusions/customer_not_loged_navbar.html" %}
        {% endif %}
    </header>
    <main>
        <section class="introduction">
            <p>Hello everyone, I am Pablo and I am a software developer mainly focus on backend. The aim of this project is to show my skills. I also have basic skills on frontend that allow me to program the whole page on my own.</p>
        </section>
        <section class="description">
            <h2>What is the webpage about</h2>
            <p>It is a ticket purchase system for an imaginary bus business in Spain. You can create a profile and order tickets for some travels along the country. The travels are scheduled automatically. There are passes that allow imaginary customers to expend less money if they need to do a lot of travels. A few of this passes where created, such as 10 ticket passes or monthly ones. Some areas are enabled to make these transactions, as well as areas where you can manage your tickets, passes or personal information.</p>
            {% if not user.is_authenticated %}
            <p>If you want to test the functionality of the system, click on the login button. Do not worry about personal information, a random user will be created in order to let you log in without any data.</p>
            <button><a href="{% url 'booking:login' %}">Login</a></button>
            {% endif %}
            <p>Due to this is a backend project, I highly recommend you to take a look to the source code.</p>
            <button><a href="https://github.com/pablogmdsoftware/bus_system/" target="_blank">GitHub</a></button>
        </section>
        <section class="contact">
            <h2>More about me</h2>
            <p><a href="https://www.linkedin.com/in/pablogmd/" target="_blank">LinkedIn</a></p>
            <p><a href="https://github.com/pablogmdsoftware/" target="_blank">Github</a></p>
        </section>
    </main>
</body>
</html>