<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'booking/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'booking/navbar.css' %}">
</head>
<body>
    <header>
        {% include "./inclusions/navbar.html" %}
    </header>
    <main>
        <form action="{% url 'booking:password' %}" method="post">
            {% csrf_token %}
            {% if incorrect_password %}
            <p>{{incorrect_password}}</p>
            {% endif %}
            <div>
                {% if errors.old_password %}
                <p>{{errors.old_password}}</p>
                {% endif %}
                <label for="old_password">Old password</label>
                <input type="password" name="old_password">
            </div>
            <br>
            {% if not_same_password and not errors.new_password and not errors.repeat_password %}
            <p>{{not_same_password}}</p>
            {% endif %}
            <div>
                {% if errors.new_password %}
                <p>{{errors.new_password}}</p>
                {% endif %}
                <label for="new_password">New password</label>
                <input type="password" name="new_password">
            </div>
            <div>
                {% if errors.repeat_password %}
                <p>{{errors.repeat_password}}</p>
                {% endif %}
                <label for="repeat_password">Repeat password</label>
                <input type="password" name="repeat_password">
            </div>
            <br>
            <input type="submit" name="action" value="Submit">
            <input type="submit" name="action" value="Cancel">
        </form>
    </main>
</body>
</html>