<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'booking/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'booking/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'booking/change_password.css' %}">
</head>
<body>
    <header>
        {% include "./inclusions/navbar.html" %}
    </header>
    <main>
        <article class="password">
            <form action="{% url 'booking:password' %}" method="post" class="password__form">
                {% csrf_token %}
                <h2 class="password__header">Change password</h2>
                <div>
                    <div class="password__inputContainer">
                        {% if incorrect_password %}
                        <p class="errorMessage">{{incorrect_password}}</p>
                        {% endif %}
                        {% if errors.old_password %}
                        <p class="errorMessage">{{errors.old_password}}</p>
                        {% endif %}
                        <label for="old_password" class="nodisplay">Old password</label>
                        <input type="password" name="old_password" placeholder="Old password">
                    </div>
                    <div class="password__inputContainer">
                        {% if not_same_password and not errors.new_password and not errors.repeat_password %}
                        <p class="errorMessage">{{not_same_password}}</p>
                        {% endif %}
                        {% if errors.new_password %}
                        <p class="errorMessage">{{errors.new_password}}</p>
                        {% endif %}
                        <label for="new_password" class="nodisplay">New password</label>
                        <input type="password" name="new_password" placeholder="New password" id="newPassword">
                        {% if errors.repeat_password %}
                        <p class="errorMessage">{{errors.repeat_password}}</p>
                        {% endif %}
                        <label for="repeat_password" class="nodisplay">Repeat password</label>
                        <input type="password" name="repeat_password" placeholder="Repeat new password">
                    </div>
                </div>
                <div class="password__submitContainer">
                    <input type="submit" name="action" value="Submit" class="password__button">
                    <input type="submit" name="action" value="Cancel" class="password__button">
                </div>
            </form>
        </article>
    </main>
</body>
</html>