<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        {% include "./inclusions/navbar.html" %}
    </header>
    <main>
        <form action="{% url 'booking:password' %}" method="post">
            {% csrf_token %}
            <div>
                <label for="old_password">Old password</label>
                <input type="password" name="old_password">
            </div>
            <br>
            <div>
                <label for="new_password">New password</label>
                <input type="password" name="new_password">
            </div>
            <div>
                <label for="repeat_new_password">Repeat password</label>
                <input type="password" name="repeat_new_password">
            </div>
            <br>
            <input type="submit">
        </form>
    </main>
</body>
</html>