<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Travel</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'booking/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'booking/navbar.css' %}">
</head>
<body>
    <header>
        {% include "./inclusions/navbar.html" %}
    </header>
    <main>
        <form action="{% url 'booking:confirm' %}" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <th>Origin</th>
                    <td>{{ticket.travel.origin}}</td>
                </tr>
                <tr>
                    <th>Destination</th>
                    <td>{{ticket.travel.destination}}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{ticket.travel.schedule|date:"d-m-Y"}}</td>
                </tr>
                <tr>
                    <th>Time</th>
                    <td>{{ticket.travel.schedule|date:"H:i"}}</td>
                </tr>
                <tr>
                    <th>Seat</th>
                    <td>{{ticket.seat_number}}</td>
                </tr>
            </table>
            <input type="submit" name="action" value="Cancel">
            <input type="submit" name="action" value="Confirm">
        </form>
    </main>
</body>
</html>