<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Travel</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'booking/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'booking/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'booking/confirm_ticket.css' %}">
</head>
<body>
    <header>
        {% include "./inclusions/navbar.html" %}
    </header>
    <main>
        <form action="{% url 'booking:confirm' %}" method="post" class="ticket">
            {% csrf_token %}
            <table>
                <tr class="ticket__informationContainer">
                    <th>Origin:</th>
                    <td>{{ticket.travel.origin}}</td>
                </tr>
                <tr class="ticket__informationContainer">
                    <th>Destination:</th>
                    <td>{{ticket.travel.destination}}</td>
                </tr>
                <tr class="ticket__informationContainer">
                    <th>Date:</th>
                    <td>{{ticket.travel.schedule|date:"d-m-Y"}}</td>
                </tr>
                <tr class="ticket__informationContainer">
                    <th>Hour:</th>
                    <td>{{ticket.travel.schedule|date:"H:i"}}</td>
                </tr>
                <tr class="ticket__informationContainer">
                    <th>Seat:</th>
                    <td>{{ticket.seat_number}}</td>
                </tr>
                <tr class="ticket__informationContainer">
                    <th>Cost:</th>
                    <td>{{ticket.price}} cts</td>
                </tr>
            </table>
            <div class="ticket__buttonsContainer">
                <input type="submit" name="action" value="Cancel" class="ticket__button">
                <input type="submit" name="action" value="Confirm" class="ticket__button">
            </div>
        </form>
    </main>
</body>
</html>