<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'booking/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'booking/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'booking/login.css' %}">
</head>
<body>
    <header>
        {% include "./inclusions/customer_not_loged_navbar.html" %}
    </header>
    <main>
        {% if password_changed %}
        <div class="confirmation"><p class="confirmation__paragraph">{{password_changed}}</p><div class="confirmation__square hideOnMobile"></div></div>
        {% endif %}
        <article class="login">
            <h2 class="login__header">Login</h2>
            <form action="{% url 'booking:login' %}" method="post" class="login__form">
                {% csrf_token %}
                {% if auth_failed %}
                <p class="errorMessage">{{auth_failed}}</p>
                {% endif %}
                <div class="login__inputContainer">
                    <label for="username" class="nodisplay">Username</label>
                    <input type="text" name="username" placeholder="Username" value="{{request.username}}" autocorrect="off" autocapitalize="off" spellcheck="false">
                </div>
                <div class="login__inputContainer">
                    <label for="password" class="nodisplay">Password</label>
                    <input type="password" name="password" placeholder="Password">
                </div>
                <input type="submit" value="Submit" name="action" class="login__button">
            </form>
            <p class="login__footer">You don't have an account?: <a href="{% url 'booking:signup' %}">I'll give you one</a></p>
        </article>
    </main>
</body>
</html>