<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyPasses</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'booking/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'booking/navbar.css' %}">
</head>
<body>
    <header>
        {% include "./inclusions/navbar.html" %}
    </header>
    <style>
        main {
            padding: 32px;
        }
    </style>
    <main>
        <h2>I am going to add this feature in the next version (you can buy tickets meanwhile, they are free anyways).</h2>
    </main>
</body>
</html>