<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyTickets</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'booking/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'booking/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'booking/mytickets.css' %}">
</head>
<body>
    <header>
        {% include "./inclusions/navbar.html" %}
    </header>
    <main>
        <section id="nextTravel">
            <h2>Next travel<div class="square rotate"></div></h2>
            {% if active_tickets %}
            {% with ticket=active_tickets|first %}
            <a href="{% url 'booking:ticket_information' ticket.id %}" class="ticket">
                <div class="ticket__information">
                    <p>{{ticket.travel.origin}} -> {{ticket.travel.destination}}</p>
                    <p>Hour: {{ticket.travel.schedule|date:"H:i"}}</p>
                    <p>Seat: {{ticket.seat_number}}</p>
                </div>
                <div class="ticket__date">
                    <p>{{ticket.travel.schedule|date:"d-m-Y"}}</p>
                </div>
            </a>
            {% endwith %}
            {% else %}
            <a href="{% url 'booking:ticket_information_example' %}" class="ticket">
                <div class="ticket__information">
                    <p>City 1 -> City 2</p>
                    <p>Hour: 00:00</p>
                    <p>Seat: 0</p>
                </div>
                <div class="ticket__date">
                    <p>Example ticket</p>
                </div>
            </a>
            {% endif %}
        </section>
        <section id="allTickets">
            <h2>All tickets<div class="square rotate"></div></h2>
            <div class="ticketGroup">
                {% for ticket in active_tickets %}
                <a href="{% url 'booking:ticket_information' ticket.id %}" class="ticket">
                    <div class="ticket__information">
                        <p>{{ticket.travel.origin}} -> {{ticket.travel.destination}}</p>
                        <p>Hour: {{ticket.travel.schedule|date:"H:i"}}</p>
                        <p>Seat: {{ticket.seat_number}}</p>
                    </div>
                    <div class="ticket__date">
                        <p>{{ticket.travel.schedule|date:"d-m-Y"}}</p>
                    </div>
                </a>
                {% endfor %}
                {% if not active_tickets %}
                <a href="{% url 'booking:ticket_information_example' %}" class="ticket">
                    <div class="ticket__information">
                        <p>City 1 -> City 2</p>
                        <p>Hour: 00:00</p>
                        <p>Seat: 0</p>
                    </div>
                    <div class="ticket__date">
                        <p>Example ticket</p>
                    </div>
                </a>
                {% endif %}
            </div>
        </section>
    </main>
</body>
</html>