<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'booking/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'booking/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'booking/profile.css' %}">
</head>
<body>
    <header>
        {% include "./inclusions/navbar.html" %}
    </header>
    <main>
        {% include "./inclusions/profile_sidebar.html" %}
        {% if request.action == "Edit information" or continue_editing %}
        {% include "./inclusions/user_information_edit.html" %}
        {% else %}
        {% include "./inclusions/user_information.html" %}
        {% endif %}
    </main>
</body>
</html>