<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <header>
        {% include "./inclusions/navbar.html" %}
    </header>
    <main>
        <h2>{{errors}}</h2>
        {% if request.action == "Edit information" %}
        {% include "./inclusions/user_information_edit.html" %}
        {% else %}
        {% include "./inclusions/user_information.html" %}
        {% endif %}
        <form action="{% url 'booking:logout' %}" method="post">
            {% csrf_token %}
            <p>What to test another user? Please log out.</p>
            <input type="submit" name="action" value="Logout">
        </form>
    </main>
</body>
</html>