<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Travel</title>
</head>
<body>
    <header>
        {% include "./navbar.html" %}
    </header>
    <main>
        <h2>{{request}}</h2>
        <h2>{{dict}}</h2>
        <h2>{{dict2}}</h2>
        <form action="{% url 'booking:buy' %}" method="post">
            {% csrf_token %}
            <fieldset>
                <div>
                    <label for="origin">Origin</label>
                    <select name="origin" id="origin">
                        {% for city, city_name in cities.items %}
                        {% if city == request.origin %}
                        <option value="{{city}}" selected>{{city_name}}</option>
                        {% else %}
                        <option value="{{city}}">{{city_name}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="destination">Destination</label>
                    <select name="destination" id="destination">
                        {% for city, city_name in cities.items %}
                        {% if city == request.destination %}
                        <option value="{{city}}" selected>{{city_name}}</option>
                        {% else %}
                        <option value="{{city}}">{{city_name}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="date">Date</label>
                    <input type="text" name="date" value="{{request.date}}">
                </div>
            </fieldset>
            <input type="submit" name="action" value="Search">
            <fieldset>
                <div>
                    <label for="time">Time</label>
                    <select name="time" id="time">
                        {% for time in travel_times %}
                        <option value="{{time}}">{{time}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="seat">Seat</label>
                    <input type="number" name="seat">
                </div>
            </fieldset>
            {% if travel_times %}
            <input type="submit" name="action" value="Buy">
            {% endif %}
        </form>
    </main>
</body>
</html>