<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Travel</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'booking/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'booking/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'booking/select_ticket.css' %}">
    <script defer src="{% static 'booking/select_ticket.js' %}"></script>
</head>
<body>
    <header>
        {% include "./inclusions/navbar.html" %}
    </header>
    <main>
        <form action="{% url 'booking:buy' %}" method="post" class="selectTravel" id="form">
            {% csrf_token %}
            {% if form_clean_error %}
            <p>{{form_clean_error}}</p>
            {% endif %}
            {% if integrity_error %}
            <p>{{integrity_error}}</p>
            {% endif %}
            <div class="searchTravel">
                <fieldset class="searchTravel__configuration">
                    <div class="searchTravel__inputContainer">
                        <label for="origin">Origin</label>
                        <select name="origin" id="origin">
                            {% for city, city_name in cities.items %}
                            {% if city == request.origin %}
                            <option value="{{city}}" selected>{{city_name}}</option>
                            {% else %}
                            <option value="{{city}}">{{city_name}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="searchTravel__inputContainer">
                        <label for="destination">Destination</label>
                        <select name="destination" id="destination">
                            {% for city, city_name in cities.items %}
                            {% if city == request.destination %}
                            <option value="{{city}}" selected>{{city_name}}</option>
                            {% else %}
                            <option value="{{city}}">{{city_name}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="searchTravel__inputContainer">
                        {% if errors.date %}
                        <p>{{errors.date}}</p>
                        {% endif %}
                        <label for="date">Date</label>
                        <input type="text" name="date" value="{{request.date}}">
                    </div>
                    <input type="submit" name="action" value="Search" class="searchTravel__button">
                </fieldset>
            </div>
            <div class="selectTicket">
                <fieldset class="selectTicket__configuration">
                    <div>
                        {% if errors2.time %}
                        <p>{{errors2.time}}</p>
                        {% endif %}
                        <label for="time">Time</label>
                        <select name="time" id="time">
                            <option value="">-----</option>
                            {% for time in travel_times %}
                            {% if time == request.time %}
                            <option value="{{time}}" selected>{{time}}</option>
                            {% else %}
                            <option value="{{time}}">{{time}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </fieldset>
                <div class="selectTicket__configuration">
                    {% if errors2.seat %}
                    <p>{{errors2.seat}}</p>
                    {% endif %}
                    {% for hour, bus in buses.items %}
                    <div class="bus nodisplay" id="{{hour}}">
                        {% with ''|center:bus.1 as range %}
                        {% for _ in range %}
                        <div class="busSeat busSeat--empty"></div>
                        {% endfor %}
                        {% endwith %}
                        {% with ''|center:bus.0 as range %}
                        {% for seat_num in range %}
                        {% if forloop.counter in bus.2 %}
                        <div class="busSeat busSeat--sold">{{forloop.counter}}</div>
                        {% else %}
                        <label for="seat">{{forloop.counter}}</label>
                        <input type="radio" class="busSeat radioButton" name="seat" value="{{forloop.counter}}">
                        {% endif %}
                        {% endfor %}
                        {% endwith %}
                    </div>
                    {% endfor %}
                </div>
                {% if travel_times %}
                <input type="submit" name="action" value="Buy" class="selectTicket__button">
                {% endif %}
            </div>
        </form>
    </main>
</body>
</html>