<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'booking/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'booking/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'booking/ticket_information.css' %}">
</head>
<body>
    <header>
        {% include "./inclusions/navbar.html" %}
    </header>
    <main>
        {% if cancel_error %}
        <h2>{{cancel_error}}</h2>
        {% endif %}
        <div class="ticket">
            <table>
                <tr class="ticket__informationContainer">
                    <th>Origin:</th>
                    <td>{{ticket.travel.origin}}</td>
                </tr>
                <tr class="ticket__informationContainer">
                    <th>Destination:</th>
                    <td>{{ticket.travel.destination}}</td>
                </tr>
                <tr class="ticket__informationContainer">
                    <th>Date:</th>
                    <td>{{ticket.travel.schedule|date:"d-m-Y"}}</td>
                </tr>
                <tr class="ticket__informationContainer">
                    <th>Time:</th>
                    <td>{{ticket.travel.schedule|date:"h:i"}}</td>
                </tr>
                <tr class="ticket__informationContainer">
                    <th>Seat:</th>
                    <td>{{ticket.seat_number}}</td>
                </tr>
                <tr class="ticket__informationContainer">
                    <th>Cost:</th>
                    <td>{{ticket.price}} cts</td>
                </tr>
                <tr class="ticket__qrContainer">
                    <th class="nodisplay">QR</th>
                    <td><img src="{% static 'booking/images/linkedin_qr.svg' %}" alt="QR" width="125" height="125"></td>
                </tr>
            </table>
            <form action="{% url 'booking:ticket_cancel' ticket.id %}">
                <input type="submit" name="action" value="Cancel ticket" class="ticket__button">
            </form>
        </div>
    </main>
</body>
</html>