<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'booking/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'booking/navbar.css' %}">
    <style>
    .flex {
        display: flex;
        flex-flow: row wrap;
    }
    .ticket {
        width: 200px;
        height: 275px;
        background-color: rebeccapurple;
        display: grid;
        place-content: center;
        margin: 1rem;
        color: black;
    }
    </style>
</head>
<body>
    <header>
        {% include "./inclusions/navbar.html" %}
    </header>
    <main>
        {% if cancel_error %}
        <h2>{{cancel_error}}</h2>
        {% endif %}
        <div class="flex">
            <table>
                <tr>
                    <th>Origin</th>
                    <td>{{ticket.travel.origin}}</td>
                </tr>
                <tr>
                    <th>Destination</th>
                    <td>{{ticket.travel.destination}}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{ticket.travel.schedule|date:"d-m-Y"}}</td>
                </tr>
                <tr>
                    <th>Time</th>
                    <td>{{ticket.travel.schedule|date:"h:i"}}</td>
                </tr>
                <tr>
                    <th>Seat</th>
                    <td>{{ticket.seat_number}}</td>
                </tr>
                <tr>
                    <th>Cost</th>
                    <td>{{ticket.price}}</td>
                </tr>
                <tr>
                    <th>QR</th>
                    <td><img src="{% static 'booking/images/linkedin_qr.svg' %}" alt="QR" width="150" height="150"></td>
                </tr>
            </table>
            <form action="{% url 'booking:ticket_cancel' ticket.id %}">
                <input type="submit" name="action" value="Cancel ticket">
            </form>
        </div>
    </main>
</body>
</html>