<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel</title>
</head>
<body>
    <header>
        {% if user.is_authenticated %}
        {% include "./inclusions/navbar.html" %}
        {% else %}
        {% include "./inclusions/customer_not_loged_navbar.html" %}
        {% endif %}
    </header>
    <main>
        <form action="{% url 'booking:buy' %}" method="post">
            {% csrf_token %}
            <fieldset>
                <div>
                    <label for="origin">Origin</label>
                    <select name="origin" id="origin">
                        {% for city, city_name in cities.items %}
                        <option value="{{city}}">{{city_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="destination">Destination</label>
                    <select name="destination" id="destination">
                        {% for city, city_name in cities.items %}
                        <option value="{{city}}">{{city_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="date">Date</label>
                    <input type="text" name="date">
                </div>
            </fieldset>
            <input type="submit" name="action" value="Search">
        </form>
    </main>
</body>
</html>