<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'booking/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'booking/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'booking/travel.css' %}">
</head>
<body>
    <header>
        {% if user.is_authenticated %}
        {% include "./inclusions/navbar.html" %}
        {% else %}
        {% include "./inclusions/customer_not_loged_navbar.html" %}
        {% endif %}
    </header>
    <main>
        <form action="{% url 'booking:buy' %}" method="post" class="searchTravel">
            {% csrf_token %}
            <fieldset class="searchTravel__configuration">
                <div class="searchTravel__inputContainer">
                    <label for="origin" class="searchTravel__inputLabel">Origin</label>
                    <select name="origin" id="origin" class="searchTravel__input">
                        {% for city, city_name in cities.items %}
                        <option value="{{city}}">{{city_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="searchTravel__inputContainer">
                    <label for="destination" class="searchTravel__inputLabel">Destination</label>
                    <select name="destination" id="destination" class="searchTravel__input">
                        {% for city, city_name in cities.items %}
                        <option value="{{city}}">{{city_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="searchTravel__inputContainer">
                    <label for="date" class="searchTravel__inputLabel">Date</label>
                    <input type="date" name="date" class="searchTravel__input searchTravel__input--date">
                </div>
            </fieldset>
            <input type="submit" name="action" value="Search" class="searchTravel__button">
        </form>
    </main>
</body>
</html>