{% load static %}
<nav id="navbar">
    <div id="navbar__logo" class="navbar__logo--notLogged">
        <a href="{% url 'booking:home' %}" class="link">pablogmd</a>
    </div>
    <ul id="navbar__list" class="navbar__list--notLogged">
        <li class="hideOnMobile"><a href="{% url 'booking:travel' %}" class="link">Travel</a></li>
        <li class="hideOnMobile"><a href="{% url 'booking:about' %}" class="link">About</a></li>
        <li class="hideOnMobile"><a href="{% url 'booking:login' %}" class="link">Login</a></li>
        <li class="mobileOnly"><img src="{% static 'booking/images/bars.svg' %}" alt="" width="30px" height="30px" onclick=showSidebar()></li>
    </ul>
    <ul id="navbar__mobile">
        <li onclick=hideSidebar()><img src="{% static 'booking/images/xmark.svg' %}" alt="" width="36px" height="36px"></li>
        <li><a href="{% url 'booking:travel' %}" class="sidebarLink">Travel</a></li>
        <li><a href="{% url 'booking:about' %}" class="sidebarLink">About</a></li>
        <li><a href="{% url 'booking:login' %}" class="sidebarLink">Login</a></li>
    </ul>
</nav>

<script>
    function showSidebar() {
        const sidebar = document.getElementById("navbar__mobile");
        sidebar.style.display = "flex";
    }
    function hideSidebar() {
        const sidebar = document.getElementById("navbar__mobile");
        sidebar.style.display = "none";
    }
</script>