<nav id="navbar">
    <a href="https://www.linkedin.com/in/pablogmd/" target="_blank" id="navbar__logo" class="link">pablogmd</a>
    <ul id="navbar__list">
        <li><a href="{% url 'booking:travel' %}" class="link">Travel</a></li>
        <li><a href="{% url 'booking:mytickets' %}" class="link">MyTickets</a></li>
        <li><a href="{% url 'booking:mypasses' %}" class="link">MyPasses</a></li>
        <li><a href="{% url 'booking:about' %}" class="link">About</a></li>
        <li><a href="{% url 'booking:profile' %}" class="link">Profile</a></li>
    </ul>
</nav>