#nextTravel {
    /* background-color: mediumseagreen; */
}

#allTickets {
    /* background-color:  mediumslateblue; */
    display: flex;
    flex-flow: row wrap;
}

.ticket {
    width: 150px;
    height: 150px;
    border: 2px solid lightseagreen;
    border-radius: 15%;
    margin: 1rem;
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.ticket__information {
    padding: 1rem;
    background-color: rgba(95, 210, 212, 0.699);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.ticket__date {
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    background-color: lightseagreen;
    display: grid;
    place-content: center;
}