main {
    padding: 1.8rem;
}

#nextTravel {
    margin-bottom: 2.2rem;
}

#nextTravel h2 {
    margin-bottom: 1.3rem;
}

#allTickets h2 {
    margin-bottom: 0.4rem;
}

.ticketGroup {
    display: flex;
    flex-flow: row wrap;
}

.ticket {
    width: 150px;
    height: 150px;
    border: 2px solid var(--secondary);
    border-radius: 15%;
    margin: 1rem;
    display: grid;
    grid-template-rows: 3fr 1fr;
    text-decoration: none;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.ticket:hover {

}

.ticket__information {
    padding: 1rem;
    background-color: whitesmoke;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;  
    color: var(--contrast);
}

.ticket__date {
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    background-color: var(--secondary);
    display: grid;
    place-content: center;
    color: var(--contrast);
}

.ticket:first-child .ticket__date {
    background-color: var(--complementary);
}

.ticket:first-child {
    border: 2px solid var(--complementary);
}

#nextTravel .ticket .ticket__date {
    background-color: var(--complementary);
}

#nextTravel .ticket {
    border: 2px solid var(--complementary);
}

.ticket:hover {
    box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.2);
}

h2 {
    display: block;
    background-color: var(--secondary);
    width: 40%;
    height: 34.38px;
    padding: 0.2rem 0 0.2rem 0.7rem;
    position: relative;
    color: white;
    box-shadow: 0 4px 7px -2px rgba(0, 0, 0, 0.2);
}

h2 .square {
    width: 48.62px;
    height: 48.62px;;
    background-color: var(--base);
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%,-50%) rotate(45deg);
}

/* Layout */
/* || Mobile */

main {
    min-height: calc(100vh - 60px);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: auto;
    column-gap: 16px;
    padding: 16px;
}

#nextTravel {
    grid-column: 1 / -1;
}

#allTickets {
    grid-column: 1 / -1;
}

h2 {
    width: 100%;
}

/* || Tablet */

@media screen and (min-width: 576px) {
    main {
        display: grid;
        grid-template-columns: repeat(6,1fr);
        padding: 32px;
    }
}

/* || Laptop */

@media screen and (min-width: 905px) {
    main {
        display: grid;
        grid-template-columns: repeat(12,1fr);
        column-gap: 32px;
    }
    h2 {
        max-width: 600px;
    }
}

/* || Desktop */

@media screen and (min-width: 1440px) {
    main {
        display: grid;
        grid-template-columns: repeat(12,86px);
        margin: auto;
        width: 1440px;
    }
}