#nextTravel {
    /* background-color: mediumseagreen; */
}

#allTickets {
    /* background-color:  mediumslateblue; */
    /* display: flex;
    flex-flow: row wrap; */
}

.ticketGroup {
    display: flex;
    flex-flow: row wrap;
}

.ticket {
    width: 150px;
    height: 150px;
    border: 2px solid var(--secondary);
    border-radius: 15%;
    margin: 1rem;
    display: grid;
    grid-template-rows: 3fr 1fr;
    text-decoration: none;
}

.ticket__information {
    padding: 1rem;
    background-color: whitesmoke;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    color: var(--contrast);
}

.ticket__date {
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    background-color: var(--secondary);
    display: grid;
    place-content: center;
    color: var(--contrast);
}

.ticket:first-child .ticket__date{
    background-color: var(--complementary);
}

.ticket:first-child {
    border: 2px solid var(--complementary);
}

#nextTravel .ticket .ticket__date {
    background-color: var(--complementary);
}

#nextTravel .ticket {
    border: 2px solid var(--complementary);
}