#navbar {
    height: 65px;
    padding: 0 3rem;
    display: grid;
    place-content: center;
    grid-template-columns: 2fr 5fr;
    background-color: white;
}

#navbar__logo {
    color: black;
    font-size: 1.15rem;
    display: grid;
    place-content: center;
}

#navbar__list {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

#navbar__list a {
    text-decoration: none;
    font-size: 1.15rem;
    color: black;
}

