header {
    position: sticky;
    top: 0;
    box-shadow: 0 0 0.4rem 0.1rem rgba(0, 0, 0, 0.15);
}

#navbar {
    height: 65px;
    padding: 0 3rem;
    display: grid;
    place-content: center;
    grid-template-columns: 2fr 5fr;
    background-color: var(--base);
}

#navbar__logo {
    color: rgb(34, 32, 32);
    font-size: 1.1rem;
    font-family: "Roboto", serif;
    display: grid;
    place-content: center;
}

#navbar__list {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

#navbar__list a {
    text-decoration: none;
    font-size: 1.1rem;
    font-family: "Roboto", serif;
    font-weight: 400;
    color: var(--contrast);
}

.extraPadding {
    padding: 0 5rem 0 15rem;
}

