@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "Roboto", serif;
    font-size: 1rem;
    color: #1E1E1E;
    background-color: #D9D9D9;
}

fieldset {
    border: none;
}

input {
    font-family: "Roboto", serif;
    font-size: 1rem;
}

th {
    font-weight: 400;
    text-align: start;
}

input[type="checkbox"] {
    appearance: none;
    cursor: pointer;
}

input[type="text"], input[type="date"] {
    outline: none;
    border: none;
}

input:focus {
    outline: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    --primary: #712EE1;
    --primary-hover: hsl(262, 75%, 43%);
    --complementary: #F6AE2D;
    --complementary-hover: hsl(39, 92%, 47%);
    --secondary: #656565;
    --secondary-hover: hsl(0, 0%, 32%);
    --base: #D9D9D9;
    --contrast: #1E1E1E;
    --cancel-red: hsl(357, 55%, 55%);
    --cancel-red-hover: hsl(357, 55%, 50%);
}

.nodisplay {
    display: none;
}

.overflow {
    overflow: auto;
}

@media screen and (max-width: 575px) {
    .hideOnMobile {
        display: none !important;
    }
}

@media screen and (min-width: 576px) {
    .mobileOnly {
        display: none !important;
    }
}